{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Привет, Мир!</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}/static/css/article.css">
    </head>
    <body>
        <div class="header">
            <img src="{% static 'logo.svg' %}" class="logo">
        </div>
        <div class="archive">
            {% for post in posts %}
            <div class="one-post">
                <h2 class="post-title">
                    <a href="{% url 'get_article' article_id=post.id %}">{{ post.title }}</a>
                </h2>
                <div class="article-info">
                    <div class="article-author">{{ post.author.username }}</div>
                    <div class="article-created- date">{{ post.created_date }}</div>
                </div>
                <p class="article-text">{{ post.get_excerpt }}</p>
            </div>
            {% endfor %}
        </div>
    </body>
</html>